<!DOCTYPE html>
<html>
    <head>
        <title>Sistema De Control Mediante Domotica</title>
        <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
    </head>
    
    <body>
        <!-- header start -->
        <div id="header" class="section">
            <img alt="" class="img-circle" src="assets/pexels-photo-443383.jpg">
            <p>SCMD</p>
        </div>
        <!-- header end -->
        
        <!-- About us section start -->
        <div class="section">
            <h1><span>Sobre Nosotros</span></h1>
            <p>
                Nosotros somos <strong>SCMD </strong>.una empresa que busca ignovar acercando la posibilidad de mayor seguridad y confort en los hogares a un precio accesible y con la posibilidad de facil expansion del sistema y una instalacion simple que pueda realizar el usuario estando preparado para ser un sistema que crece constantemente y que promete seguir agregando modulos y funcionalidades
            </p>
            <p class="quote">"Disfrute de nuestro sitema"</p>
        </div>
        <!-- About us section end -->
        
        <!-- My Schedule section start -->
        <div class="section">
                
                <video class="library" controls preload="auto" data-config="about.component.js">
                        <source src="ultimaversion.mp4" type='video/mp4'>
                      </video>
                       
                      <script src="video-library.js"></script>   
